.container {
  display: flex;
  min-width: 950px;
  height: 100vh;

  /* 防止 tabs 超出不收缩 */
  :global {
    .ant-layout {
      // background-color: var(--yz-background-color);

      .ant-layout-content {
        box-sizing: border-box;
        overflow: hidden;

      }
    }
  }
}